.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt10 {
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}

.bgfff {
  background-color: #fff;
}